div.img {
    margin: 5px;
    padding: 5px;
    border: 2px solid #d0d0d0;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

div.img a:hover img {
    border:1px solid #d0d0d0;
}

div.desc {
    text-align: left;
    font-weight: normal;
    width: 220px;
    margin: 5px;
}

div.nome {
    text-align: center;
    font-weight: bold;
    width: 220px;
    margin: 5px;
}